:root {
    --akhdar-ghamak: #202c2b;
    --akhdhar-fetah: #2a8735;
    --akhdhar-azrak: #101e1e;
}

body {
    background-color: var(--akhdhar-azrak) !important;
}

h1 {
    color: var(--akhdhar-fetah);
}

.input {
    background-color: white;
}

.no-img {
    border-style: dashed;
    border-width: medium;
    height: 300px;
}

a {
    color: var(--akhdhar-fetah);
}

.btn, .btn:hover {
    width: 40%;
    background-color: var(--akhdhar-fetah);
    color: white;
}

