<nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"><img src="{{ asset('/logo.png') }}" alt="" width="90" ></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:white;">
                    <span class="navbar-toggler-icon" style="color: white;"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url('app_home')}} ">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary " href="{{ url('app_logout')}} " type="button">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
<style>
.navbar{
    background-color:#1a1e21;
     font-family: Candara;
    font-size:larger;
    /*position: absolute!important;   */
    /*top:0% !important;*/
}

.navbar .nav-link{
    color:#FFFFFF;
    transition: all .5s;

}
.navbar .nav-link:hover{
    transform: scale(1.2);
    color:#3d9970;
}
.navbar .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2%;
      width: 0;
    height: 2%;
    background-color: transparent;
    transition: width 0.5s ease;
}
.nav-link:hover::after,.nav-link:focus::after {
    background-color: #3d9970;
    width: 100%;
}


.nav-item{
    margin-right:5%;
    margin-left:5%;
}

.nav{
    padding:1%;
    display: flex;
    align-items: center;
    width: 70%;
}

.navbar .btn{
    height:80% !important;
    margin-left:1%!important;
    color: #6f7071 ;
}

.btn-outline-secondary:hover{
    background-color: transparent!important;
}

.btn-outline-secondary{
    border:none;
    border-radius: 13px;
    font-size: 100% !important;
}

.navbar-toggler {
    color: #FFFFFF!important;
}
#carouselExampleIndicators{
    width:100%!important;
    margin-top: 7%;
    margin-left: 10%;
}
</style>
