<header class="d-flex justify-content-center">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 " id="mainNav">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <img class="my_logo" src="{{ asset('/assets/img/logo.png') }}" alt="">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="">Home</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="">About</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="">Products</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="">Store</a></li>
            </ul>
        </div>
    </nav>
</header>